#Portfolio-container {
  position: relative;
}
.item-section {
  height: 100svh !important;
  z-index: 10;
  position: relative;
}
.item-section:first-of-type {
  bottom: 8em;
}

.progress {
  position: sticky;
  top: 0;
  left: 0;
  padding-top: 50px;
  text-align: center;
  color: orange;
  font-size: 36px;
  z-index: 20;
}
.featured {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5em;
}
.h1-feature {
  cursor: default;
}

.progressBar {
  height: 10px;
  background-color: #fff;
  border-radius: 100px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.wrapper {
  width: 80vw;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  position: relative;
}
.imageContainer {
  flex: 1;
  height: 50%;
}
.imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.text-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.text-container h2 {
  font-size: 72px;
}
.text-container h2 p {
  color: grey;
  font-size: 20px;
}

.butn {
  /* background-color: orange; */
  border: none;
  border-radius: 10px;
  padding: 10px;
  width: 200px !important;
  color: white;
  cursor: pointer;
}
.item-btn {
  z-index: 10;
}
