.sidebar {
  /* scale: 0; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: black;
}
.sidebar .bg {
  z-index: 100;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 400px;
  background: white;
  transform: scale(
    0
  ); /* Initially hide the background *
  /* transform: scale(0); */
}

.menu {
  display: inline;
}
.noMenu {
  display: none;
}
.sidebar .bg .links {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.sidebar .bg .links a {
  font-size: 40px;
  text-decoration: none;
}
.sidebar button {
  z-index: 100;
  /* position: relative; */
  width: 58px;
  height: 58px;
  border-radius: 50%;
  position: fixed;
  top: 21px;
  right: 21px;
  background-color: transparent;
  border: none;
  cursor: default;
}
.sidebar button div {
  width: 58px;
  height: 58px;
  border-radius: 50%;
  cursor: pointer;
}
.sidebar button div svg {
  position: relative;
  top: 20px;
}
.nobtn {
  display: none;
}
.burger-btn {
  background-color: red;
}
